# Sources
*.os

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary

# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Project Files
# .gitignore	export-ignore
# *.cbp		export-ignore

# GitHub templates and other files
.github/

# Make Files
# CMakeLists.txt	export-ignore
# SConstruct		export-ignore
# CMakePresets.json	export-ignore
# templates/**		export-ignore
# support_files/**	export-ignore
